{% load i18n %}
{% load static %}

{% load common_tags %}
{% load navigation_tags %}

<div class="row">
    <div class="col-xs-12">
        <h4>
            {% if page_obj %}
                {% if page_obj.paginator.num_pages != 1 %}
                    {% blocktrans with page_obj.start_index as start and page_obj.end_index as end and page_obj.paginator.object_list|length as total and page_obj.number as page_number and page_obj.paginator.num_pages as total_pages %}Total ({{ start }} - {{ end }} out of {{ total }}) (Page {{ page_number }} of {{ total_pages }}){% endblocktrans %}
                {% else %}
                    {% blocktrans with page_obj.paginator.object_list|length as total %}Total: {{ total }}{% endblocktrans %}
                {% endif %}
            {% else %}
                {% blocktrans with object_list|length as total %}Total: {{ total }}{% endblocktrans %}
            {% endif %}
        </h4>
        <hr>

        <div class="well center-block">
            <div class="clearfix">
                <div class="pull-right">
                    <form action="{% url 'common:multi_object_action_view' %}" class="form-multi-object-action" method="get">
                        {% if object_list %}
                            {% if not hide_multi_item_actions %}
                                {% get_multi_item_links_form object_list %}
                            {% endif %}
                            {% if multi_item_actions %}
                                <fieldset style="margin-top: -10px; margin-bottom: 10px;">
                                    {{ multi_item_form }}
                                </fieldset>
                            {% endif %}
                        {% endif %}
                    </form>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-condensed table-striped">
                    <tbody>
                        {% if not hide_header %}
                            <tr>
                                {% if multi_item_actions %}
                                    <th class="first"><input class="form-multi-object-action-checkbox checkbox" type="checkbox" /></th>
                                {% endif %}

                                {% if not hide_object %}
                                    <th>{% trans 'Identifier' %}</th>
                                {% endif %}

                                {% if not hide_columns %}
                                    {% for column in object_list|get_source_columns %}
                                        <th>{{ column.label }}</th>
                                    {% endfor %}
                                {% endif %}

                                {% for column in extra_columns %}
                                    <th>{{ column.name }}</th>
                                {% endfor %}

                                {% if not hide_links %}
                                    <th class="">&nbsp;</th>
                                {% endif %}
                            </tr>
                        {% endif %}
                        {% for object in object_list %}
                            <tr>

                            {% if multi_item_actions %}
                                <td>
                                {% if multi_select_item_properties %}
                                    <input type="checkbox" class="checkbox" name="properties_{{ object|get_encoded_parameter:multi_select_item_properties }}" value="" />
                                {% else %}
                                    <input type="checkbox" class="checkbox" name="pk_{{ object.pk }}" value="" />
                                {% endif %}
                                </td>
                            {% endif %}
                            {% if not hide_object %}
                                {% if main_object %}
                                    {% with object|object_property:main_object as object %}
                                        <td>{% if not hide_link %}<a href="{{ object.get_absolute_url }}">{{ object }}</a>{% else %}{{ object }}{% endif %}</td>
                                    {% endwith %}
                                {% else %}
                                    <td>{% if not hide_link %}<a href="{{ object.get_absolute_url }}">{{ object }}</a>{% else %}{{ object }}{% endif %}</td>
                                {% endif %}
                            {% endif %}
                             {% if not hide_columns %}
                                {% for column in object|get_source_columns %}
                                    <td>{% source_column_resolve column=column %}{{ column_result }}</td>
                                {% endfor %}
                            {% endif %}
                            {% for column in extra_columns %}
                                <td>{{ object|object_property:column.attribute }}</td>
                            {% endfor %}
                            {% if not hide_links %}
                                <td class="last">
                                    {% get_menu_links 'object menu' source=object as resolved_links %}
                                    {% for object_navigation_links in resolved_links %}
                                        {% with 'true' as horizontal %}
                                            {% include 'navigation/generic_navigation.html' %}
                                        {% endwith %}
                                    {% endfor %}
                                </td>
                            {% endif %}
                            </tr>
                        {% empty %}
                            <tr><td class="text-center" colspan=99>{% trans 'No results' %}</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% include 'pagination/pagination.html' %}
        </div>
    </div>
</div>
