<div class="{% if div_class %}{{ div_class }}{% else %}col-xs-12 col-sm-6 col-md-4 col-lg-3{% endif %}">
    <a class="btn btn-default btn-lg btn-block {% if 'new_window' in link.tags %}new_window{% endif %}" href="{{ link.url }}">
        {% if link.icon %}<i class="{{ link.icon }} fa-2x"></i>{% endif %}
        {% if link.icon_class %}{{ link.icon_class.render }}{% endif %}
        <br>
        {{ link.text }}
    </a>
</div>
